@charset "utf-8";
/* CSS Document */

html {
	background-image: url(../images/8-red.jpg);
	font-family: Arial,Helvetica,sans-serif;
	font-size: .8em;
	color: #514c49;
}

.error {
	color: #FF0000;
}

header {
	margin: 20px auto 5px  auto;
	width: 1000px;
}

#page {
	overflow: hidden;
	border: 5px solid #e7e2c9;
	border-radius: 20px;
	margin: 0px  auto;
	padding: 40px 10px 10px;
	background-color: #ffffff;
	opacity:0.95;
	filter:alpha(opacity=95); /* For IE8 and earlier */
	box-shadow: 0px 0px 15px 2px #8f8d82;
	width: 1000px;
}

#main {
	padding: 10px;
}

.clear {
	clear: both;
	visibility: hidden;
	margin: 2px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
	width: 100%;
	margin: 0px auto;
}

h1 {
	font-family: 'Rum Raisin', sans-serif;
	font-size: 1.7em;
}

h2 {
	font-family: 'Rum Raisin', sans-serif;
	font-size: 1.3em;
}

.bold {
	font-weight: bold;
}

.note {
	font-style: italic;
	font-size: .9em;
}

/* Header */

header img {
	margin: -10px 50px 5px 5px;	
}

/* Forms */
form {
}

fieldset {
	margin: 5px;
	border: 0px;
}

legend {
	font-family: 'Rum Raisin', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #d1d1d1;
}

label, .label {
	font-size: .9em;
	font-weight: bold;
	width: 110px;
	display: inline-block;
	vertical-align: top;
}

/* Links */

a:link, a:visited, a:hover, a:active {
	color: #800000;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration:underline;
}

/* Navigation */
nav {
	float: right;
	margin: -20px 0px 10px 0px;
}

nav, 
nav a:link, 
nav a:visited, 
nav a:hover, 
nav a:active {
	font-size: .9em;
	color: #514c49;
	padding-right: 10px;
}


/* Animal Inventory */
.critter_count {
	float: right;
}

#critter_categories {
	width: 675px;
	float: right;
}

.category {
	width: 200px;
	border: 1px solid #800000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	border-spacing: 0px;
	margin: 5px;
	padding: 1px;
	display: inline-table;
	vertical-align: middle;
}

.users_users {
	width: 150px;
	border: 1px solid #800000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	border-spacing: 0px;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	text-align: center;
}

#search_farm,
#follow_list {
	width: 275px;
	border: 1px solid #800000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	border-spacing: 0px;
	margin: 0px 20px 20px 0px;
	padding: 5px;
}

#animal_table {
	width: 675px;
	max-width: 675px;
	border: 1px solid #800000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	border-spacing: 0px;
	margin: 0px;
	float: right;
}

th {
	background-color: #800000;
	color: #ffffff;
	text-align: center;
	padding: 2px;
}

td {
	text-align: center;
}

tr.even {
	background-color: #e7e2c9;
}


/* Posts and Comments*/

form.addPost {
	margin-left: 130px;
	padding-top: 2px;
}

article {
	margin: 0px 5px 10px 0px;
}

.posted_by{
	margin-bottom: 3px;
	font-family: 'Rum Raisin', sans-serif;
	font-size: .9em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #d1d1d1;
}

.user_post {
	background-color: #C8B8A4;
	padding: 1px 15px 15px 35px;
	margin-left: 50px;
	font-size: 0.9em;
	border-radius: 10px;
}

.comment_form {
	margin-bottom:-15px;
}

.comment_by{
	margin-bottom: 3px;
	font-family: 'Rum Raisin', sans-serif;
	font-size: .9em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #d1d1d1;
}

.post_comment {
	background-color: #EFE6D8;
	padding: 1px 15px 18px 15px;
	font-size: 0.9em;
	border-radius: 10px;
	margin-right: 35px;
}

.has_comment {
	width: 54%;
	float: left;
}

.comment_box {
	margin-top: 30px;
	float: right;
	width: 45%;
}

article time {
	font-size: .7em;
	font-style: italic;
	margin-top: -9px;
	float: right;
}

.my_photo {
	float: right;
	text-align: center;
	margin: 30px 200px 5px 20px;
}

/* Images */

.image {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border: 1px solid #bfbdb2;
}

.profile_image {
	margin: 20px 62px 15px 42px;
	width: 200px;
	height: 200px;
}

.feed_image,
.edit_image {
	float: left;
	margin: 15px 10px 15px 0px;
	width: 100px;
	height: 100px;
}

.animal_thumb,
.users {
	margin: 5px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.my_photo {
	width: 150px;
	height: 150px;
	margin: 10px;
}

.posts_thumb {
	float: left;
	margin: 5px 10px 10px 0px;
	width: 75px;
	height: 75px;
}

.comment_thumb {
	float: right;
	margin: -7px 0px 0px 5px;
	width: 60px;
	height: 60px;
}

#animal_photos {
	float: right;
}

#animal_photos img {
	margin: 0px 20px 20px 20px;
}

/* User List */

/*.users_table {
	border: 0px;
}

.users_table td {
	padding: 4px 10px;
}
*/
.button,
a:link.button, 
a:visited.button, 
a:hover.button, 
a:active.button,
input.button {
	background-color: #E0DFDE;
	color: #000000;
	text-decoration: none;
	padding: 5px 6px;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px 5px 10px 0px;
	border: 1px solid #514c49;
	border-radius: 5px;
}

.follow_button {
	margin: 5px auto;
	display: table;
}

.button img {
	margin: 7px 0px -3px 0px;
}
